{% extends 'blog/base.html' %}
{% block title %}Delete Post||{{ block.super }}{% endblock %}
{% block content %}
<div class="listmain">
		<div class="listitem">
		<h1>Delete Your Post</h1>
		<h1><small>Are you sure you want to delete the post "{{ post.title|title }}"? All of the related items will be deleted:</small></h1>
		<p><small>Piblished on: {{ post.published_date }}</small></p>
		<h1>{{ post.title|title }}</h1>
		<p>{{ post.text|truncatechars:200 }}</p>
		<p>Post is Created by: {{request.user }}</p>
		<div class="listitem2">
		<form action="." method="POST">{% csrf_token%}
			<button type="submit" class="btn btn-primary btn-lg">Delete</button> <a href="../">Cancle</a>
		</form>
	</div>
	</div>
</div>
{% endblock %}